<% provide(:title, "Seller Profile") %>

<% if notice %><div class="alert alert-info" id="notice"><%= notice %></div><% end %>
<% if alert %><div class="alert alert-warning" id="alert"><%= alert %></div><% end %>

<h1>Seller Profile</h1>
<div class="jumbotron">
    <p><b>Email: </b><%= current_seller.email %></p>
</div>

<div class="jumbotron">
    <h2>Items Created</h2>
	<%= will_paginate @items %>
    <% @items.each do |item| %>
      <p><%= link_to item.name, "/items/#{item.id}" %></p>
    <% end %>
	<%= will_paginate @items %>
</div>

<hr>
