<h1>Your Cart</h1>

<%= javascript_pack_tag 'cart'%>

<%= form_with url: "/orderplaced", method: :post do |f| %>
    <% @carts.each do |cart| %>
        <div class="jumbotron">
            <p><b>Name: <%= cart.item.name %></b></p>
            <p><b>Item Id:</b><%= cart.item.id %></small></p>
            <p><b>Description:</b><%= cart.item.description[0..49]+'...' %></small></p>
            <p><b>Price: $</b><%= cart.item.price %></p>
            <div>
                <p><b>Quantity:</b></p>
                <%= link_to "#", class: "btn btn-default btn-number", 
                                :onclick => 'reduceQuantity();' do %>
                    <span class="glyphicon glyphicon-minus"></span>
                <% end %>
                <input type="text" id= <%= "quantity_#{cart.item.id}"%> name="quantity" class="quantity" disabled value="1">
                <%= link_to "#", class: "btn btn-default btn-number", 
                                :onclick => "addQuantity();" do %>
                    <span class="glyphicon glyphicon-plus"></span>
                <% end %>
            </div>
            
        </div>
        <br>
    <% end %>
    <div class='cart_total_price'>
      <h4><b>Total Cost: $<%= @totalcost%></b></h4>
      <%= button_to "Place Order", { action: "placeorder" }, class: "btn btn-dark cart_order_button"%>
    </div>
<% end %>
