<% provide(:title, "Items") %>

<% if notice %><div class="alert alert-info" id="notice"><%= notice %></div><% end %>
<% if alert %><div class="alert alert-warning" id="alert"><%= alert %></div><% end %>

<h1>Welcome to eKirana</h1>

<% logged = false %>
<% if buyer_signed_in? %>
<% logged = true %>
<% end %>

<%= will_paginate %>
<% @items.each do |item| %>
	<div class="jumbotron ">
		<h2><%= link_to item.name, "/items/#{item.id}" %></h2>
		<p><small><%= item.description[0..49]+'...' %></small></p>
		<p><b>Price: $</b><%= item.price %></p>
		<% if logged %>
			<%= button_to "Add to Cart", "/cart/#{item.id}", class: 'btn btn-warning' %>
		<% else %>
			<%= button_to "Sign in to add to Cart", "/", class: 'btn btn-danger disabled' %>
		<% end %>
	</div>
	<hr>
<% end %>
<%= will_paginate %>
