<% provide(:title, "Ratings") %>

<% if notice %><div class="alert alert-info" id="notice"><%= notice %></div><% end %>
<% if alert %><div class="alert alert-warning" id="alert"><%= alert %></div><% end %>

<h1>Rating for Order - <%= params[:order_id] %></h1>
<div class="row">
	<div class="col-md-3 col-md-offset-3">
		<%= form_with url: "/ratings/#{params[:order_id]}" do |f| %>
			<%= f.label :stars %>
			<%= f.select :stars, %w[1 2 3 4 5], {include_blank: true} %>

			<%= f.label :comment %>
			<%= f.text_field :comment %>

			<%= f.submit "Submit This Rating", class: "btn btn-success"%>
		<% end %>
	</div>
</div>
