<% provide(:title, "Item") %>

<p id="notice"><%= notice %></p>

<h1>Item Info</h1>
<div class="jumbotron">
    <p><b>Name: </b><%= @item.name %></p>
    <p><b>Price: $</b><%= @item.price %></p>
    <p><b>Description: </b><%= @item.description %></p>
	<p><span class="glyphicon glyphicon-star"></span><%= @overall_rating %>/5</p>
	<h1>Buyer Ratings</h1>
	<% @ratings.each do |rating| %>
		<% rating.stars.times do %>
			<span class="glyphicon glyphicon-star"></span>
		<% end %>
		<% rating.blank_stars.times do %>
			<span class="glyphicon glyphicon-star-empty"></span>
		<% end %>
		<p><%= rating.comment %></p>
		<hr>
	<% end %>
</div>
<hr>
