<% provide(:title, "Item") %>

<% if notice %><div class="alert alert-info" id="notice"><%= notice %></div><% end %>
<% if alert %><div class="alert alert-warning" id="alert"><%= alert %></div><% end %>

<h1>Item Info</h1>
<div class="jumbotron">
    <p><b>Name: </b><%= @item.name %></p>
    <p><b>Price: $</b><%= @item.price %></p>
    <p><b>Description: </b><%= @item.description %></p>
	<p><span class="glyphicon glyphicon-star"></span><%= @overall_rating %>/5</p>
	<h1>Buyer Ratings</h1>
	<!-- Don't use russian doll caching here. The key criterion is too complicated -->
  <%= will_paginate @ratings %>
	<% cache(cache_key_for_item_ratings(@item)) do %>
	<% @ratings.each do |rating| %>
		<% cache(cache_key_for_rating(rating)) do %>
			<% rating.stars.times do %>
				<span class="glyphicon glyphicon-star"></span>
			<% end %>
			<% rating.blank_stars.times do %>
				<span class="glyphicon glyphicon-star-empty"></span>
			<% end %>
			<p><%= rating.comment %></p>
			<hr>
		<% end %>
	<% end %>
	<% end %>
	<%= will_paginate @ratings %>
</div>
<hr>
