<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
	<nav>
	<ul class="nav navbar-nav navbar-left">
		<li><%= image_tag("ekirana_logo.png", class: "img-responsive", id: "navbar-logo") %></li> 
		<li><%= link_to "eKirana", '/', id: "logo" %></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<% if buyer_signed_in? %>
			<li><%= link_to "Your Orders", orders_path %></li>
			<li>
				<%= link_to showcart_path, class: "btn btn-dark" do %>
					<span class="glyphicon glyphicon-shopping-cart" alt='Shopping Cart'></span>
				<% end %>
			</li>
			<li><%= link_to "Profile", "/profile/buyer" %></li>
			<li><%= link_to "Sign Out", destroy_buyer_session_path, method: :delete %></li>
		<% elsif seller_signed_in? %>
			<li><%= link_to "Add New Item", "items/new" %></li>
			<li><%= link_to "Profile", "/profile/seller" %></li>
			<li><%= link_to "Sign Out", destroy_seller_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Buyer Sign In", new_buyer_session_path %></li>
			<li><%= link_to "Buyer Sign Up", new_buyer_registration_path %></li>
			<li><%= link_to "Seller Sign In", new_seller_session_path %></li>
			<li><%= link_to "Seller Sign Up", new_seller_registration_path %></li>
		<% end %>
	</ul>
	</nav>
</div>
</header>
